.filter-section-container {
    /* background-color: aqua; */
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 150px;
    border: 1px solid lightgray;
    left: 0;
    top: 0%;
    z-index: 10000;
    /* overflow: scroll; */
    /* background-color: red; */

    /* position: relative; */
}

.filter-lecture-list-container {
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 120px;
    border: 1px solid lightgray;
    /* left: 0; */
    top: 0%;
    z-index: 1000;
    position: absolute;
    top: 100px;
    right: -80% !important;
    overflow: scroll;
}

.filter-room-list-container {
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 120px;
    border: 1px solid lightgray;
    /* left: 0; */
    top: 0%;
    z-index: 1000;
    position: absolute;
    top: 100px;
    right: -100% !important;

}

.filter-batch-list,
.filter-lecture-list {
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;

    margin: 0;
}

.filter-room-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;

}

.filter-batch-list>li {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: start;
    border-bottom: 2px solid lightgray;
    width: 100%;
    color: gray;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.filter-room-list>li {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: start;
    border-bottom: 2px solid lightgray;
    width: 100%;
    color: gray;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.filter-room-list-container>li {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: start;
    border-bottom: 2px solid lightgray;
    width: 100%;
    color: gray;
    font-weight: 600;
    overflow: hidden;
    height: 40px;

}

.filter-lecture-list-container>li {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: start;
    border-bottom: 2px solid lightgray;
    width: 100%;
    color: gray;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.filter-lecture-list>li {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: start;
    border-bottom: 2px solid lightgray;
    width: 100%;
    color: gray;
    font-weight: 600;
}


.filter-all-option,
.filter-batch-option {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

li:hover {
    background-color: lightgray;
    color: black;
}