.second-screen-container {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 62vh;
}


.second-screen-top-first-section {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.second-screen-top-first-section>span {
    font-size: 12px;
    color: gray;
    cursor: pointer;
    padding: 3px;
    border: 1px solid transparent;
    transition: all 0.2s;
    border-radius: 3px;
}

.second-screen-top-first-section>span:hover {
    color: #9603F2;
    font-weight: 600;

    border: 1px solid #9603F2;


}


.second-screen-top-second-section>h7,
.second-screen-top-third-section>h7 {
    color: black;
    font-size: 12px !important;
    font-weight: 600;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.single-radio-input {
    display: flex;
    font-size: 12px;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 10px;
    cursor: pointer;
}



.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.input-box:hover {
    color: #9603F2;
    border-color: #9603F2;
}

.second-screen-bottom {
    /* position: absolute; */
    /* bottom: 0px; */
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.second-screen-bottom>button {
    width: 90% !important;
    border: none;
    background-color: #9603F2;
    color: white;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}